/* ===============================
   Colour Palette:
   ---------------
   Dark Grey/Gris Foncé:	                         #465065
   Light Grey/Gris Claire:			                   #9aa0ab
   Very Light Grey/Gris Très Claire (footer):       #b9c0c6
   Red/Rouge:			                               #f0454c
   Hover on icons, button and "More ->"             #000
   =============================== */

/* General */

html {
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
}

*, *:before, *:after {
   box-sizing: inherit;
}
h1, h2, h3{
  font-family: 'Montserrat', sans-serif;
}
/*.centre{
  position: relative;
    left: 100px;
    top: 300px;*/
header {
  height: 1000px;
  width: 100%;
  padding-left: calc((100% - 940px) / 2);
  padding-right: calc((100% - 940px) / 2);
  background-image: url(../images/header.jpg);
  background-size: cover;
}

main{
  width: 940px;
  margin: auto;
}

.first {
  display: flex;
}
/*.business {
  display: flex;
}*/


.economic{
  display: flex;
}
/*.eco{
  width:30px;
}
.mac{
  display: flex;
}*/

.team2 {
  display: flex;
}
.head {
  display: flex;
}
.logo {
 border-radius: 50%;
}

footer {
  width: 940px;
  margin: auto;
  border-top:1px solid;
  color: lightgrey;
  display: flex;
  justify-content: space-between;
}
/*.c{
  text-align: right;
  display: flex;
  align-self: flex-end;
}*/
