/* ===============================
   Colour Palette:
   ---------------
   Dark Grey/Gris Foncé:	                         #465065
   Light Grey/Gris Claire:			                   #9aa0ab
   Very Light Grey/Gris Très Claire (footer):       #b9c0c6
   Red/Rouge:			                               #f0454c
   Hover on icons, button and "More ->"             #000
   =============================== */

/* General */

html {
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
}

*, *:before, *:after {
   box-sizing: inherit;
}
h1 {
  font-family: 'Montserrat', sans-serif;
}
h2, h3, h4{
  font-family: 'Montserrat', sans-serif;
  color: #465065;
}

body {
  position: relative;
  top: -20px;
}
.center {
  position: relative;
  left: 1000px;
  top: 200px;
}
.center2 {
  color: #465065;;
}
.centre3 {
  position: relative;
  left: 30px;
  top: -30px;
  color: #465065;
}

header {
  height: 1000px;
  width: 100%;
  padding-left: calc((100% - 940px) / 2);
  padding-right: calc((100% - 940px) / 2);
  background-image: url(../images/header.jpg);
  background-size: cover;
}
nav {
  position: absolute;
  top: 30px;
  right: calc((100% - 940px)/2);
}
.twit {
  color: #f0454c;
}

a {
  padding: 16px;
  font-size: 18px;
  text-decoration: none;
  color: #465065;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

header h2 {
  display: flex;
  flex-direction: column;
  font-size: 45px;
  color: #465065;
  margin-top: 280px;
  margin-left: 26px;
}
h1 {
  height:70px;
  width:190px;
  padding: 15px;
  background: #f0454c;;
  color: white;
  margin: 20px;
  border-radius: 10px;
  font-size: 24px;
}
.red {
  padding: 20px;
  background: #f0454c;;
  color: white;
  height: 60px;
  width: 150px;
  border-radius: 10px;
  margin-left: 26px;
  font-family: 'Montserrat', sans-serif;
}
.zebi {
  display: block;
}
p {
  color: #c2c2a3;
}

main {
  width: 940px;
  margin: auto;
}

.first {
  display: flex;
  justify-content: space-around;
}

.business {
  width: calc((940px - (40px * 2)) / 3);
  margin-right: 40px;
}


.economic{
  display: flex;
}

.team2 {
  display: flex;
}
.head {
  display: flex;
}
.logo {
 border-radius: 50%;
}
.greyfont {
  color: #465065;
}

footer {
  width: 940px;
  margin: auto;
  border-top:1px solid;
  color: #c2c2a3;;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.p {
  font-size: 38px;
}
.ourteam {
  font-size: 30px;
}
h2:before, h3:before {
 content:"";
 display: block;
 width: 56px;
 height: 7px;
 background-color: #f0454c;
 margin-bottom: 20px;
 margin-top: 10px;
}
.red2 {
  color: #f0454c;
}
.economic a {
  color: #f0454c;
}
.first a {
color: #f0454c;
}
.b {
  margin: 20px;
  color: #ebebe0;
}
